essays_pm.csv
parsed_essays.spacy
pipeline.spacy/config.cfg
pipeline.spacy/meta.json
pipeline.spacy/tokenizer
pipeline.spacy/attribute_ruler/patterns
pipeline.spacy/lemmatizer/lookups/lookups.bin
pipeline.spacy/senter/cfg
pipeline.spacy/senter/model
pipeline.spacy/tagger/cfg
pipeline.spacy/tagger/model
pipeline.spacy/tok2vec/cfg
pipeline.spacy/tok2vec/model
pipeline.spacy/vocab/key2row
pipeline.spacy/vocab/lookups.bin
pipeline.spacy/vocab/strings.json
pipeline.spacy/vocab/vectors
pipeline.spacy/vocab/vectors.cfg
